.page {
  background-color: #e7e7ed;
  max-width: 1400px;
  min-width: 320px;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0 auto;
}

.main {
  margin: 25px auto 0;
  border-radius: 30px;
  background-color: white;
  box-shadow: 1px 1px 8px hsl(300, 27%, 62%, 0.5);
  padding: 25px;
}

.header {
  background-color: #F6F6FA;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 20px;
}

.header__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.player {
  background-color: #F6F6FA;
  border-radius: 20px;
  margin: 0;
  padding: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__song-name {
  margin: 0 0 25px;
  font-size: 16px;
  font-weight: 500;
}

.player__progress-container {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: #e5e5e8;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.player__progress {
  background-color: rgb(184, 132, 184)
  height: 4px;
  border-radius: 5px;
}

.player__buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn {
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.5;
}

.prev {
  background: transparent url('./images/back.svg') center / 25px 25px no-repeat;
}

.play {
  background: transparent url('./images/play.svg') center / 35px 35px no-repeat;
  width: 35px;
  height: 35px;
}

.pause {
  background: transparent url('./images/pause.svg') center / 35px 35px no-repeat;
}

.next {
  background: transparent url('./images/next.svg') center / 25px 25px no-repeat;
}

.playlist {
  background-color: #F6F6FA;
  border-radius: 20px;
  margin: 0;
  padding: 20px;
  flex-grow: 1;
}

.playlist__title {}

.playlist__container {}

.player__fireplace {
  margin-top: 60px;
  display: block;
  width: 100%;
  height: 50vh;
  border-radius: 20px;
}